<table class='pure-table pure-table-horizontal'>
  <thead>
    <tr>
      <th><%= t('.table.task') %></th>
      <th><%= t('.table.date') %></th>
      <th><%= t('.table.time') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render tracks %>
  </tbody>
</table>
