<h1><%= "#{Project.model_name.human}: #{@project_form.project.name}" %></h1>

<section id='time-tracks'>
  <%= react_component 'TimeTrack',
    { form: @project_form },
    { prerender: true } %>
</section>
